* {
    box-sizing: border-box;
}

.title {
    text-align: center;
}

.content {
    font-size: 7px;
}

.box-name {
    float: left;
    width: 25%;
}

.box-colon {
    float: left;
    width: 4%
}

.box-value {
    float: left;
    width: 35%;
}

.clearfix-content::after {
    content: "";
    clear: both;
    display: table;
}

.table {
    width: 100%;
    font-size: 7px;
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
}

th {
    border-style: solid;
    border-width: 1px;
    padding: 1%;
}

.data-border {
    border-style: solid;
    border-width: 1px;
    padding: 1%;
}

.foot {
    border-style: solid;
    border-width: 1px;
    border-left-style: none;
    border-right-style: none;
    padding: 1%;
    font-weight: bold;
}